@model FalMedia.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new {role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr/>
    @Html.ValidationSummary(true)
    <div id="basic-form" class="section">
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card-panel">
                    <h4 class="header2">@ViewBag.Title</h4>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    @Html.TextBoxFor(model => model.OldPassword)
                                    <label for="OldPassword">@Resources.Password</label>
                                    @Html.ValidationMessageFor(model => model.OldPassword)
                                </div>
                                <div class="input-field col s12">
                                    @Html.TextBoxFor(model => model.NewPassword)
                                    <label for="NewPassword">NewPassword</label>
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                                <div class="input-field col s12">
                                    @Html.TextBoxFor(model => model.ConfirmPassword)
                                    <label for="ConfirmPassword">ConfirmPassword</label>
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                            <div class="input-field col s12" style="margin-bottom: 20px;">
                                <input type="submit" value="@Resources.Update" class="btn btn-block green right"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}