@model IEnumerable<FalMedia.Models.Slider>

@{
    ViewBag.Title = Resources.Slider;
    ViewBag.ActiveTitle = Resources.Slider;
    ViewBag.LinkName = Resources.AddNew;
    ViewBag.Action = "Create";
    ViewBag.Controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    ViewBag.Controller2 = Resources.Slider;
}

<div class="row">
    <div class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">@Resources.Slider</span>
                <div class="actions">
                    <a href="#" class="search-toggle waves-effect btn-flat nopadding">
                        <i class="material-icons">search</i>
                    </a>
                </div>
            </div>
            <table class="datatable responsive-table">
                <thead>
                <tr>
                    <th>@Resources.Id</th>
                    <th>@Resources.Name</th>
                    <th>@Resources.Count</th>
                    <th>@Resources.CreatedDate</th>
                    <th>@Resources.CreatedBy</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SliderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slids.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td style="color: #fff;">
                            @Html.ActionLink(" ", "Edit", new {id = item.Id}, new {@class = "mdi-editor-border-color btn"})
                            @Html.ActionLink(" ", "Details", new {id = item.Id}, new {@class = "btn mdi-action-settings green"})
                            <a href="#" class="js-delete-slider mdi-action-delete red btn" data-slider-id="@item.Id"></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/admin/DT.js"></script>
    <script src="~/Scripts/admin/admin.init.js"></script>
    <script>
        $(document)
            .ready(function() {
                $(".js-delete-slider")
                    .click(function(e) {
                        var link = $(e.target);

                        swal({
                                title: "Are you sure?",
                                text: "You will not be able to recover this!",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Yes, delete it!",
                                cancelButtonText: "No, cancel please!",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                            function(isConfirm) {
                                if (isConfirm) {
                                    $.ajax({
                                            url: "/Admin/Sliders/Delete/" + link.attr("data-slider-id"),
                                            method: "POST"
                                        })
                                        .done(function() {
                                            swal("Deleted!", "Slider has been deleted.", "success");
                                            link.parents("tr")
                                                .fadeOut(function() {
                                                    $(this).remove();
                                                });
                                        })
                                        .fail(function() {
                                            alert("Something failed!");
                                        });
                                } else {
                                    swal("Cancelled", "Slider not deleted :)", "error");
                                }
                            });
                    });
            });
    </script>
}