@model IEnumerable<FalMedia.Areas.Admin.Models.Role>
@{
    ViewBag.Title = Resources.Permissions;
    ViewBag.ActiveTitle = Resources.Permissions;
    ViewBag.LinkName = Resources.AddRole;
    ViewBag.Action = "Create";
    ViewBag.Controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    ViewBag.Controller2 = Resources.Role;
}

<div class="row">
    <div class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">@Resources.AllUsers</span>
                <div class="actions">
                    <a href="#" class="search-toggle waves-effect btn-flat nopadding">
                        <i class="material-icons">search</i>
                    </a>
                </div>
            </div>
            <table class="datatable">
                <thead>
                <tr>
                    <th>@Resources.Role</th>
                    <th>@Resources.Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td style="color: #fff;">
                            @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn"})
                            @Html.ActionLink("Details", "Details", new {id = item.Id}, new {@class = "btn"})
                            <a href="#" class="js-delete-role btn" data-role-id="@item.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/admin/DT.js"></script>
    <script src="~/Scripts/admin/admin.init.js"></script>
    <script>
        $(document)
            .ready(function() {
                $(".js-delete-role")
                    .click(function(e) {
                        var link = $(e.target);

                        swal({
                                title: "Are you sure?",
                                text: "You will not be able to recover this!",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Yes, delete it!",
                                cancelButtonText: "No, cancel please!",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                            function(isConfirm) {
                                if (isConfirm) {
                                    $.ajax({
                                            url: "/Admin/Roles/Delete/" + link.attr("data-role-id"),
                                            method: "POST"
                                        })
                                        .done(function() {
                                            swal("Deleted!", "Role has been deleted.", "success");
                                            link.parents("tr")
                                                .fadeOut(function() {
                                                    $(this).remove();
                                                });
                                        })
                                        .fail(function() {
                                            alert("Something failed!");
                                        });
                                } else {
                                    swal("Cancelled", "Role not deleted :)", "error");
                                }
                            });
                    });
            });
    </script>
}