@using FalMedia.Core
<header>
    <!-- NavBar Menu -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="primary-nav-inner">
                    <a href="@("/")" class="brand-logo waves-effect waves-light wow zoomIn">
                        <img src="@Url.Content("~/uploads/logo/" + ViewBag.SiteLogo)" alt="Fal Media"/>
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down animated zoomIn">
                        @if (Culture.Equals("ar"))
                        {
                            <li>
                                <a class="dropdown_btn_lang" href="#chlang">
                                    <i class="material-icons center">language</i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-activates="slide-out" class="menu-sidenav-btn">
                                    <i class="material-icons">menu</i>
                                </a>
                            </li>
                            <li>
                                <a href="@("/#contact-us")" class="waves-effect waves-light">
                                    <i class="material-icons right isright">stay_primary_portrait</i>
                                    @Resources.ContactUs
                                </a>
                            </li>
                            <li>
                                <a href="@("/#partners")" class="waves-effect waves-light">
                                    <i class="material-icons right isright">verified_user</i>
                                    @Resources.OurPartners
                                </a>
                            </li>
                            <li>
                                <a href="@("/#projects")" class="waves-effect waves-light">
                                    <i class="material-icons right isright">view_module</i>
                                    @Resources.OurProjects
                                </a>
                            </li>
                            <li>
                                <a href="@("/#services")" class="waves-effect waves-light">
                                    <i class="material-icons right isright">business</i>
                                    @Resources.Services
                                </a>
                            </li>
                            <li>
                                <a href="@("/#about")" class="waves-effect waves-light">
                                    <i class="material-icons right isright">view_carousel</i>
                                    @Resources.About
                                </a>
                            </li>
                            <li>
                                <a href="@("/")" class="waves-effect waves-light">
                                    <i class="material-icons right isright">home</i>
                                    @Resources.Home
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@("/")" class="waves-effect waves-light">
                                    <i class="material-icons left">home</i>
                                    @Resources.Home
                                </a>
                            </li>
                            <li>
                                <a href="@("/#about")" class="waves-effect waves-light">
                                    <i class="material-icons left">view_carousel</i>
                                    @Resources.About
                                </a>
                            </li>
                            <li>
                                <a href="@("/#services")" class="waves-effect waves-light">
                                    <i class="material-icons left">business</i>
                                    @Resources.Services
                                </a>
                            </li>
                            <li>
                                <a href="@("/#projects")" class="waves-effect waves-light">
                                    <i class="material-icons left">view_module</i>
                                    @Resources.OurProjects
                                </a>
                            </li>
                            <li>
                                <a href="@("/#partners")" class="waves-effect waves-light">
                                    <i class="material-icons left">verified_user</i>
                                    @Resources.OurPartners
                                </a>
                            </li>
                            <li>
                                <a href="@("/#contact-us")" class="waves-effect waves-light">
                                    <i class="material-icons left">stay_primary_portrait</i>
                                    @Resources.ContactUs
                                </a>
                            </li>
                            <li>
                                <a href="#" data-activates="slide-out" class="menu-sidenav-btn">
                                    <i class="material-icons">menu</i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown_btn_lang" href="#chlang">
                                    <i class="material-icons center">language</i>
                                </a>
                            </li>
                        }
                    </ul>

                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="@("/Home")" class="waves-effect waves-light">
                                <i class="material-icons left">home</i>
                                @Resources.Home
                            </a>
                        </li>
                        <li>
                            <a href="#about" class="waves-effect waves-light">
                                <i class="material-icons left">view_carousel</i>
                                @Resources.About
                            </a>
                        </li>
                        <li>
                            <a href="#services" class="waves-effect waves-light">
                                <i class="material-icons left">business</i>
                                @Resources.Services
                            </a>
                        </li>
                        <li>
                            <a href="#projects" class="waves-effect waves-light">
                                <i class="material-icons left">view_module</i>
                                @Resources.OurProjects
                            </a>
                        </li>
                        <li>
                            <a href="#partners" class="waves-effect waves-light">
                                <i class="material-icons left">verified_user</i>
                                @Resources.OurPartners
                            </a>
                        </li>
                        <li>
                            <a href="#contact-us" class="waves-effect waves-light">
                                <i class="material-icons left">stay_primary_portrait</i>
                                @Resources.ContactUs
                            </a>
                        </li>
                        <li>
                            <a href="#" data-activates="slide-out" class="menu-sidenav-btn">
                                <i class="material-icons">menu</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Menu SideNav -->
    <ul id="slide-out" class="side-nav clearfix">
        <li>
            <div class="brandlogo-sidenav">
                <a href="@("/")" class="waves-effect waves-light hvr-bounce-in">
                    <img src="@Url.Content("~/uploads/logo/" + ViewBag.SiteLogo)" alt=""/>
                </a>
            </div>
        </li>
        <li>
            <a class="subheader">@Resources.LatestNews</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <div class="last-news">
                @foreach (var news in ViewBag.LatestNews)
                {
                    <h3>
                        @(Culture.Equals("ar") ? news.TitleAr : news.Title)
                    </h3>
                    <a href="@("/" + CultureHelper.GetCurrentNeutralCulture() + "/p/v/" + news.Id)">@Resources.ReadMore</a>
                }
            </div>
        </li>
    </ul>
</header>