<!-- social media sidebar -->
<div class="social-sidebar">
    <aside class="social">
        <ul>
            <li>
                <a href="@(ViewBag.facebook)" target="@(ViewBag.facebookt)" class="social-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="@(ViewBag.twitter)" target="@(ViewBag.twittert)" class="social-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="@(ViewBag.instagram)" target="@(ViewBag.instagramt)" class="social-instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="@(ViewBag.youtube)" target="@(ViewBag.youtubet)" class="social-youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li>
                <a href="@(ViewBag.linkedin)" target="@(ViewBag.linkedint)" class="social-linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </aside>
</div><!-- end of social media sidebar -->