@model FalMedia.Areas.Admin.ViewModel.GroupViewModel

@{
    ViewBag.Title = Resources.EditGroup;
    ViewBag.ActiveTitle = Resources.EditGroup;
    ViewBag.LinkName = Resources.EditGroup;
    ViewBag.Action = "Create";
    ViewBag.Controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    ViewBag.Controller2 = Resources.Group;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div id="basic-form" class="section">
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card-panel">
                    <h4 class="header2">@Resources.EditGroup</h4>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    @Html.TextBoxFor(model => model.Name, new {required = "required"})
                                    <label for="Name">@Resources.Name</label>
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                <div class="input-field col s12">
                                    @Html.TextBoxFor(model => model.Description)
                                    <label for="Description">@Resources.Description</label>
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                                <div class="input-field col s12">
                                    <fieldset class="fieldset">
                                        <legend>@Resources.Permissions</legend>

                                        @{
                                            var r = Model.RolesList;
                                        }
                                        @if (!r.Any())
                                        {
                                            <span>No Permissions found.</span>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.RolesList)
                                            {
                                                <div class="switch">
                                                    @item.Text :
                                                    <label style="position: inherit;">
                                                        <input type="checkbox" name="selectedRoles" value="@item.Text" checked="@item.Selected">
                                                        <span class="lever"></span> On
                                                    </label>
                                                </div>
                                                <br/>
                                            }
                                        }
                                    </fieldset>
                                </div>
                            </div>
                            <div class="input-field col s12" style="margin-bottom: 20px;">
                                <input type="submit" value="@Resources.Update" class="btn btn-block green right"/>
                                @Html.ActionLink("Back", "Index", null, new {@class = "btn btn-block blue"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}